@use "../../styles/" as *;

.orderDetail {
  width: 100%;
  box-shadow: 3px 5px 5px #285d9a33;
  padding: 10px;

  .header {
    @include flex(center, space-between, row);
    padding: 10px 5px;
    border-bottom: 1px dotted $blue-main-color;

    .rowItem {
      @include flex(center, unset, row);
      gap: 10px;

      .name {
        color: $blue-main-color;
        font-weight: 600;
      }
    }
  }

  .infor-address{
    border-bottom: 1px solid $blue-main-color;
  }

  .product {
    width: 100%;
  }

  

}
