@use "../../styles/" as *;

.orderDetail {
  width: 100%;
  box-shadow: 3px 5px 5px #285d9a33;
  padding: 10px;

  .header {
    @include flex(center, space-between, row);
    padding: 10px 5px;
    border-bottom: 1px dotted $blue-main-color;

    .rowItem {
      @include flex(center, unset, row);
      gap: 8px;

      .name {
        color: $blue-main-color;
        font-weight: 600;
      }
    }
  }

  .infor-address {
    padding: 5px 10px;
    border-bottom: 1px solid $blue-main-color;

    .title {
      font-size: 18px;
      font-weight: 600;
      text-decoration: underline;
      color: $blue-main-color;
    }
  }

  .listProduct {
    @include flex(center, unset, column);
    gap: 10px;
    border-bottom: 1px solid $blue-main-color;

    .product {
      @include flex(center, space-between, row);
      padding: 10px;
      width: 100%;

      .infor {
        @include flex(center, unset, row);
        gap: 15px;

        img {
          width: 100%;
        }
      }
    }
  }
}
