@use "../../../styles/" as *;

.wrapper {
  @include flex(center, unset, unset);
  width: 100%;
  height: $header-height;
  padding: 10px 20px 10px 40px;
  background-color: $blue-main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $white;
  font-family: $font-family-roboto;

  .inner {
    @include flex(center, space-between, row);
    width: 100%;
    height: 100%;

    .left {
      @include flex(center, unset, unset);
      gap: 20px;
      height: 100%;
      width: 180px;

      .logo-wrapper {
        @include flex(center, center, unset);
        width: 45px;
        height: 100%;
        background: $white;
        border-radius: 50px;

        .logo {
          height: 80%;
        }
      }

      p {
        font-size: 2.6rem;
        font-weight: 700;
        letter-spacing: 2px;
      }
    }

    .right {
      @include flex(center, unset, unset);
      gap: 20px;
      width: fit-content;
      height: 100%;

      .info {
        @include flex(center, center, row);
        gap: 7px;
        padding: 5px 10px 5px 5px;
        width: fit-content;
        height: fit-content;

        &:hover {
          background: $text-poper-color;
          border-radius: 50px;
        }

        .user-avatar {
          width: 32px;
          height: 32px;
          border: 1px solid $white;
          border-radius: 50px;
        }

        .user-name {
          font-weight: 600;
          font-size: 16px;
          line-height: 21px;
        }
      }

      .line {
        background: $white;
        height: 70%;
        width: 1px;
      }

      .action-btn {
        @include flex(center, center, row);
        gap: 20px;

        span {
          @include flex(center, center, unset);
          height: 40px;
          width: 40px;

          &:hover {
            background: $text-poper-color;
            border-radius: 50px;
          }
        }
      }
    }
  }
}

.pop-wrapper {
  .menu-wrapper {
    min-height: fit-content;
    
    .group-btn {
      .button {
        justify-content: unset;
        width: 100%;
        height: 34px;
        padding: 5px;
        font-size: 16px;
        line-height: 19px;
        color: $text-poper-color;
        border-radius: unset;

        &:hover {
          background: $bg-hover;
        }

        .icon{
          @include flex(center, center, unset);
        }
      }
    }
  }
}
