@use "../../../styles/" as *;

.sidebar {
  @include flex(flex-start, unset, column);
  width: $sidebar-width;
  min-height: calc(100vh - $header-height);
  max-height: calc(100vh - $header-height);
  padding: 30px 10px 0;
  gap: 25px;
  color: $blue-main-color;
  background: $bg-nav-color;
  font-family: $font-family-inter;
  transition: 0.2s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;

  .top-bar {
    height: $item-sidebar-height;
    padding: 0 0 0 20px;
  }

  .nav-box {
    @include flex(flex-start, unset, column);
    gap: 10px;

    .nav-item {
      @include flex(center, space-between, row);
      gap: 10px;
      width: calc($sidebar-width - 20px);
      height: $item-sidebar-height;
      padding: 0 0 0 20px;

      &:hover {
        .arrow-icon {
          transform: scale(1.2);
          transition: 0.4s ease-in-out;
        }
      }

      .nav-title {
        @include flex(center, unset, row);
        gap: 10px;
        height: 100%;

        .icon {
          @include flex(center, center, unset);
          width: 24px;
          height: $item-sidebar-height;
          padding: 2px;
        }

        .title {
          font-size: 17px;
          line-height: 22px;
        }
      }

      .arrow-icon {
        @include flex(center, center, unset);
        width: 24px;
        height: fit-content;
        transition: 0.4s ease-in-out;
      }

      .display {
        display: none;
      }
    }

    .sub-item {
      @include flex(center, unset, row);
      width: calc($sidebar-width - 20px);
      height: 34px;
      gap: 5px;
      padding: 5px 5px 5px 35px;
      background: #f1f1f1;

      &:hover {
        font-weight: 700;
        transition: 0.2s ease-in-out;
      }

      .icon {
        width: 24px;
        height: 24px;
      }

      .sub-title {
        font-size: 16px;
        line-height: 22px;
      }
    }

    .active {
      font-weight: 700;
    }
  }

  &::-webkit-scrollbar {
    border-radius: 20px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
  }
}

.sidebar-respon {
  width: 67px;
  padding: 30px 0 0 0;

  .nav-item {
    width: calc(67px - 20px) !important;
  }
}
